html[lang="en"] .path-local-ocbsbcoursecreation *[lang] {
    display: none;
}

html[lang="en"] .path-local-ocbsbcoursecreation *[lang="en"] {
    display: block;
}

html[lang="de"] .path-local-ocbsbcoursecreation *[lang] {
    display: none;
}

html[lang="de"] .path-local-ocbsbcoursecreation *[lang="de"] {
    display: block;
}

html[lang="fr"] .path-local-ocbsbcoursecreation *[lang] {
    display: none;
}

html[lang="fr"] .path-local-ocbsbcoursecreation *[lang="fr"] {
    display: block;
}

html[lang="us"] .path-local-ocbsbcoursecreation *[lang] {
    display: none;
}

html[lang="us"] .path-local-ocbsbcoursecreation *[lang="us"] {
    display: block;
}