<div class="container-fluid">
    <div>
        <table class="table table-striped" id="course-table">

            <h2>{{#str}} headline_table_view, local_ocbsbcoursecreation {{/str}}</h2>
            <thead class="table-head-courslist">
            <tr>
                <th class="th-sm col-2">{{#str}} table_head_coursename, local_ocbsbcoursecreation {{/str}}</th>
                <th class="th-sm col-3">{{#str}} table_head_courseimg, local_ocbsbcoursecreation {{/str}}</th>
                <th class="th-sm col-4">{{#str}} table_head_coursetext, local_ocbsbcoursecreation {{/str}}</th>
                <th class="th-sm col-2">
                </th>
            </tr>
            </thead>
            <tbody>
            {{#courses}}
                {{{out}}}
                <tr class="table-body-courlist">
                    <td class="col-2 align-middle">
                        <a href="{{course_url}}">{{{fullname}}}</a>
                    </td>
                    <td class="col-3 align-middle">
                        {{{img}}}
                    </td>
                    <td class="col-4 align-middle">{{{desc}}}</td>
                    <td class="col-2 align-middle">
                        <a class="action-copy btn btn-primary" href="{{copy_url}}">
                        <i class="icon fa fa-copy"><!-- --></i>
                        {{#str}} table_head_edit, local_ocbsbcoursecreation {{/str}}
                        </a>
                    </td>
                </tr>
            {{/courses}}
            </tbody>
        </table>
    </div>

    <br>
    {{^coursesInCat}}
        {{#str}} info_no_courses, local_ocbsbcoursecreation {{/str}} <br>
    {{/coursesInCat}}
    <p><small>{{#str}} course_format, local_ocbsbcoursecreation {{/str}}: {{courseCategoryName}}</small></p>
</div>
