<div>
    <h1>{{#str}} headline_table_view, local_occoursecreation {{/str}}</h1>
    <table class="w-100">
        <tr class="table-head-courlist">
            <th class="col-1">ID</th>
            <th class="col-1">{{#str}} table_head_shortname, local_occoursecreation {{/str}}</th>
            <th class="col-4">{{#str}} table_head_coursename, local_occoursecreation {{/str}}</th>
            <th class="col-4">{{#str}} table_head_courseimg, local_occoursecreation {{/str}}</th>
            <th class="col-1"><i class="icon custom_entry"> {{#str}} table_head_edit, local_occoursecreation {{/str}} </i></th>
        </tr>
        {{#courses}}
            <tr class="table-body-courlist">
                <td>{{id}}</td>
                <td>{{shortname}}</td>
                <td>{{fullname}}</td>
                <td>imgUpload</td>
                <td>
                    <a class="action-copy" href="{{url}}&id={{id}}">
                        <i class="icon fa fa-copy"><!-- --></i>
                    </a>
                </td>
            </tr>
        {{/courses}}
    </table>
    <br>
    {{#coursesInCat}}
        {{#str}} info_no_courses, local_occoursecreation {{/str}} <br>
    {{/coursesInCat}}
    <p><small>{{#str}} course_format, local_occoursecreation {{/str}}: {{courseCategoryName}}</small></p>
</div>
