<div class="w-90">
    <h2>{{#str}} headline_table_view, local_occoursecreation {{/str}}</h2>
    <div>
        <table class="table table-striped table-bordered table-sm" cellspacing="0" width="90%" id="course-table">
            <thead class="table-head-courslist">
            <tr>
                <th class="th-sm">ID</th>
                <th class="th-sm">{{#str}} table_head_shortname, local_occoursecreation {{/str}}</th>
                <th class="th-sm">{{#str}} table_head_coursename, local_occoursecreation {{/str}}</th>
                <th class="th-sm">{{#str}} table_head_courseimg, local_occoursecreation {{/str}}</th>
                <th class="th-sm"><i class="icon custom_entry"> {{#str}} table_head_edit, local_occoursecreation {{/str}} </i></th>
            </tr>
            </thead>
            <tbody>
            {{#courses}}
                <tr class="table-body-courlist">
                    <td>{{id}}</td>
                    <td>{{shortname}}</td>
                    <td>{{fullname}}</td>
                    <td>imgUpload</td>
                    <td>
                        <a class="action-copy" href="{{url}}&id={{id}}">
                        <i class="icon fa fa-copy"><!-- --></i>
                        </a>
                    </td>
                </tr>
            {{/courses}}
            </tbody>
        </table>
    </div>
    <br>
    {{#coursesInCat}}
        {{#str}} info_no_courses, local_occoursecreation {{/str}} <br>
    {{/coursesInCat}}
    <p><small>{{#str}} course_format, local_occoursecreation {{/str}}: {{courseCategoryName}}</small></p>
</div>
