<div class="container-fluid">
    <div>
        {{#entries}}
            <h2>{{type}}</h2>
            <table class="table table-striped table-bordered table-sm" id="course-table">
                <thead class="table-head-courslist">
                <tr>
                    <th class="th-sm col-9">{{#str}} table_head_preset_value, local_oc_course_creation {{/str}}    {{{btns}}}</th>
                    <th class="th-sm col-2">
                        {{#str}} table_head_edit, local_oc_course_creation {{/str}}
                    </th>
                </tr>
                </thead>
                <tbody>
                {{#values}}
                    <tr class="id:{{id}} table-body-courlist">
                        <td class="col-9 string_{{id}}">{{string}}</td>
                        <td class="col-2">
                            <div class="row">
                                <div class="ml-3 mr-2">
                                    <a href="{{editURL}}?id={{id}}" class="action-edit">
                                    <i class="icon fa fa-cog fa-fw"></i>
                                    </a>
                                </div>
                                <a class="id:{{id}} action-delete"  style="cursor: pointer;">
                                    <i class="icon fa fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {{/values}}
                <tr class="table-body-courslist new-entry-form flex-column justify-content-center">
                    <form action="list_preset_values.php" method="post" id="{{type}}">
                        <td class="col-1 h-100 w-100">
                            <input type="hidden" value="{{type_id}}" name="type_id" class="w-100 h-100 ">
                            <input type="text" name="text" class="w-100 h-100 p-1"/>
                        </td>
                        <td class="col-1">
                            <input class="btn btn-primary" value="{{#str}} table_btn_submit, local_oc_course_creation {{/str}}" 
                                   type="submit" class="btn btn-secondary"/>
                            </a>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        {{/entries}}
        <h2>{{#str}} modal_create_title, local_oc_course_creation {{/str}}</h2>
        <table class="table table-striped table-bordered table-sm" id="course-table">
            <thead class="table-head-courslist">
            <tr>
                <th class="th-sm col-1">{{#str}} table_head_new_type, local_oc_course_creation {{/str}}</th>
                <th class="th-sm col-1">{{#str}} table_head_preset_value, local_oc_course_creation {{/str}}</th>
                <th class="th-sm col-1">
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-body-courlist new-entry-form  align-items-center">
                <form action="list_preset_values.php" method="post">
                    <td class="col-1 h-100 w-100 th-sm col-1>">
                        <input type="text" value="" name="type" class="w-100 h-100  p-1"></td>
                    <td class="h-100 th-sm col-8">
                        <input type="text" name="text" class="w-100 h-100  p-1"/>
                    </td>
                    <td class="col-2">
                        <input value="{{#str}} table_btn_submit, local_oc_course_creation {{/str}}"
                               type="submit" class="btn btn-primary"/>
                        </a>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>
